---
interface Props {
  id: string;
  class?: string;
  order?: number;
  title?: string;
}

const { id, class: className } = Astro.props;
---

<section
  id={id}
  data-section={id}
  class:list={[
    'section scroll-m-20 w-full mx-auto px-4  ',
    'max-w-5xl lg:max-w-4xl md:max-w-2xl',
    className,
  ]}>
  <slot />
</section>
