---
import ExperienceItem from '@components/ExperienceItem.astro';
import PageHeading from '@components/Page-heading.astro';

const EXPERIENCE = [
  {
    dates: 'Agosto 2024 - Mayo 2025',
    role: 'Diseñador y Desarrollador',
    company: 'Visión Creativa',
    description:
      'Lideré el rediseño completo de la interfaz de usuario (UI/UX) para los proyectos Taaniilaaz y Muñeco de Chocolate, mejorando la usabilidad, navegación y accesibilidad para optimizar la experiencia del usuario. Colaboré en la creación del sitio web comercial ValleMio.shop, participando en la arquitectura web. Diseñé el logotipo oficial para el proyecto "Muñeco de Chocolate" y contribuí en el área de servicio técnico de CELULOKO diagnosticando y reparando dispositivos móviles.',
    logo: 'assets/images/experiences/vision-creativa.svg',
  },
  {
    dates: '2022 - Actualidad',
    role: 'Diseñador UX/UI',
    company: 'VGG Desarrollo y Diseño (Marca Personal)',
    description:
      'Diseñé y rediseñé interfaces de sistemas y sitios web, lo que resultó en una mejora significativa de la operatividad y experiencia de usuario a nivel empresarial. Creé y documenté el sistema de diseño "VG Design UI KIT" en Figma, reduciendo los tiempos de entrega de interfaces en un 60% gracias a la implementación de componentes reutilizables y variables escalables. Implementé sistemas de diseño cohesivos en múltiples productos web y móviles.',
    logo: 'assets/images/experiences/vgg-logo.svg',
  },
  {
    dates: '2022 - Actualidad',
    role: 'Desarrollador Web',
    company: 'VGG Desarrollo y Diseño (Marca Personal)',
    description:
      'Desarrollé sitios web complejos y responsivos en Webflow. Creé la aplicación web VGG Movies utilizando React, Chakra UI y Firebase. Desarrollé una réplica funcional de Spotify con Astro, React, Svelte y TailwindCSS. Construí un currículum web optimizado con Astro, priorizando la velocidad y la accesibilidad. Participé en el desarrollo del frontend del sistema de venta de boletos para la empresa "La Solteca".',
    logo: 'assets/images/experiences/vgg-logo.svg',
  },
  {
    dates: 'Octubre 2023 - Enero 2024',
    role: 'Diseñador UX/UI y Desarrollador Web',
    company: 'Grupo Empresarial NIREJ',
    description:
      'Coordiné equipos multidisciplinarios en proyectos UI/UX, utilizando metodologías ágiles. Lideré el rediseño del sitio web del Hospital Ángel del Mar a través de una investigación UX exhaustiva y procesos de diseño UI, para luego desarrollarlo en Webflow. Desarrollé el sitio web de BETAJ y la landing page para el "Taller de Innovación en Estrategia Comercial". Diseñé plantillas de correo corporativo enfocadas en la marca.',
    logo: 'assets/images/experiences/nirej.png',
  },
  {
    dates: '2019 - 2023',
    role: 'Diseñador UX/UI',
    company:
      'Universidad Tecnológica de los Valles Centrales de Oaxaca (UTVCO)',
    description:
      'Lideré estrategias de diseño centradas en el usuario, resultando en entregas puntuales y con altos estándares visuales en proyectos institucionales. Rediseñé la aplicación HealthCheck, enfocándome en mejorar la usabilidad en dispositivos móviles y wearables. Diseñé la experiencia e interfaces del sistema para el BIT Tournament 2023.',
    logo: 'assets/images/experiences/utvco.jpg',
  },
  {
    dates: '2019 - 2023',
    role: 'Desarrollador Web',
    company:
      'Universidad Tecnológica de los Valles Centrales de Oaxaca (UTVCO)',
    description:
      'Desarrollé el frontend del torneo BIT 2023 en Angular, con base en diseños de Figma, asegurando un alto rendimiento. Implementé un sistema de gestión de actividades en IONIC, con un enfoque en la accesibilidad para asegurar que todos los usuarios pudieran navegar fácilmente por la aplicación.',
    logo: 'assets/images/experiences/utvco.jpg',
  },
  {
    dates: 'Mayo 2023 - Junio 2023',
    role: 'Diseñador UI',
    company: 'Cafetería El Zapotal',
    description:
      'Diseñé interfaces y prototipos en Figma para un sistema de reloj checador y un sistema administrativo, mejorando la gestión de operaciones y facilitando la administración del personal.',
    logo: 'assets/images/experiences/zapotal.jpg',
  },
];
---

<div class="space-y-8">
  <PageHeading title="Mi experiencia laboral" description=" " />

  <div class="my-6 space-y-8 sm:mt-8">
    <ol class="relative">
      {
        EXPERIENCE.map((experience, loop) => (
          <li class="">
            <ExperienceItem {...experience} />
          </li>
        ))
      }
    </ol>
  </div>
</div>
