---
// src/pages/index.astro
import Footer from '../components/layout/Footer.astro';
import Navbar from '../components/layout/Navbar.astro';
import About from '../components/sections/About.astro';
import ContactCTA from '../components/sections/ContactCTA.astro';
import Experience from '../components/sections/Experience.astro';
import Hero from '../components/sections/Hero.astro';
import Projects from '../components/sections/Projects.astro';
import Stack from '../components/sections/Stack.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <Navbar />
  <main>
    <Hero />
    <Projects />
    <Experience />
    <Stack />
    <About />
    <ContactCTA />
  </main>
  <Footer />
</BaseLayout>
