---
// src/pages/index.astro
import { pagesMeta } from '@/data/portfolio';
import Footer from '../components/layout/Footer.astro';
import Navbar from '../components/layout/Navbar.astro';
import About from '../components/sections/About.astro';
import ContactCTA from '../components/sections/ContactCTA.astro';
import Experience from '../components/sections/Experience.astro';
import Hero from '../components/sections/Hero.astro';
import Projects from '../components/sections/Projects.astro';
import Stack from '../components/sections/Stack.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
const meta = pagesMeta.home;
---

<BaseLayout
  title={meta.title}
  description={meta.description}
  keywords={[...meta.keywords]}
  ogType="website"
  structuredData={{
    type: 'Person',
  }}>
  <Navbar />
  <main>
    <Hero />
    <Projects />
    <Experience />
    <Stack />
    <About />
    <ContactCTA />
  </main>
  <Footer />
</BaseLayout>
