---
import type { HTMLAttributes } from 'astro/types';

export interface Props extends HTMLAttributes<'a'> {
  label?: string;
  isPageLink?: boolean;
  targetBlank?: boolean;
  withExternalLinkArrow?: boolean;
}

const {
  label,
  href,
  class: className,
  withExternalLinkArrow = false,
  targetBlank = false,
  ...props
} = Astro.props;

const optionalAttrs = {
  ...(targetBlank && { target: '_blank', rel: 'noopener noreferrer' }),
};
---

<a
  href={href}
  class:list={[
    'group inline-flex items-center transition-colors duration-200',
    className,
  ]}
  {...optionalAttrs}
  {...props}>
  <slot>{label}</slot>
  {
    withExternalLinkArrow && (
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="w-4 h-4 ml-1 transition-transform duration-300 ease-out group-hover:-translate-y-0.5 group-hover:translate-x-0.5">
        <path
          fill-rule="evenodd"
          d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
          clip-rule="evenodd"
        />
      </svg>
    )
  }
</a>
