---
import '@fontsource-variable/inter';
import '@fontsource-variable/onest';
import Footer from '../components/Footer.astro';
import Navbar from '../components/Navbar.astro';
import { ViewTransitions } from 'astro:transitions';

const {
  title = 'VicWithGG Portfolio Web',
  description = 'Apassionado Diseñadoor UX-UI y Desarrollador Web comprometido con crear experiencias digitales que destaquen.',
  image,
  frontmatter,
  robots,
} = Astro.props;
/* interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props; */
---

<!doctype html>
<html
  lang="es"
  class="dark"
>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content={description}
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/iconVGG.svg"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>{title}</title>
    <ViewTransitions />
    <script is:inline>
      if (typeof Storage !== 'undefined') {
        if (
          localStorage.getItem('dark_mode') &&
          localStorage.getItem('dark_mode') == 'true'
        ) {
          document.documentElement.classList.add('dark');
        }
      }
    </script>
    <style>
      .prose img {
        border-radius: 20px;
      }
    </style>
    <script src="../assets/css/main.css"></script>
  </head>

  <body
    class="antialiased absolute h-full w-full bg-white dark:bg-black dark:text-white"
    ><!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-KPXH5MDJ"
        height="0"
        width="0"
        style="display:none;visibility:hidden"
      ></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
    <div
      class="absolute left-0 right-0 top-0 -z-10 hidden h-[1000px] w-full overflow-visible bg-[url('https://www.marval.xyz/bg-light.svg')] bg-cover shadow-[#030014]/50 dark:block"
    >
    </div>

    <Navbar />
    <main>
      <slot />
    </main>
    <Footer />
    <script src="../assets/js/main.js"></script>
  </body>
</html>
<style is:global>
  /*  :root {
    color-scheme: light dark;
  } */
  html {
    font-family: 'Onest Variable', sans-serif;
    scroll-behavior: smooth;
  }
  body {
    overscroll-behavior: none;
  }
  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }

  /* @media (prefers-color-scheme: dark) {
    body {
      color: rgba(255, 255, 255, 0.9);
    }
  } */
  /* :root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
	} */
</style>
