---
import '@fontsource-variable/inter';
import '@fontsource-variable/onest';
import Footer from '../components/Footer.astro';
import Navbar from '../components/Navbar.astro';
import { ViewTransitions } from 'astro:transitions';
import MainHead from '@components/MainHead.astro';
interface Props {
  title?: string | undefined;
  description?: string | undefined;
}
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <MainHead title={title} description={description} />
  </head>
  <body
    class="antialiased absolute h-full w-full bg-white dark:bg-black dark:text-white"
    ><!-- Google Tag Manager (noscript) -->
    <!--    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-KPXH5MDJ"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    > -->
    <!-- End Google Tag Manager (noscript) -->
    <div
      class="absolute left-0 right-0 top-0 -z-10 hidden h-[1000px] w-full overflow-visible bg-[url('https://www.marval.xyz/bg-light.svg')] bg-cover shadow-[#030014]/50 dark:block">
    </div>

    <Navbar />
    <!-- <main> -->
    <slot />
    <!--   </main> -->
    <Footer />
    <script src="../assets/js/main.js"></script>
  </body>
</html>
<style is:global>
  /*  :root {
    color-scheme: light dark;
  } */
  html {
    font-family: 'Onest Variable', sans-serif;
    scroll-behavior: smooth;
  }
  body {
    overscroll-behavior: none;
  }
  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
